div{
    height: 100px;
    width: 100px;
    text-align: center;
    border: 2px solid black;
    display: inline-block;
}
#container{
    width: 700px;
    height: 200px;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    
}
#box1{
    background-color: rgb(77, 41, 134);
    border: 2px solid red;
}
#box2{
    background-color: aqua;
    border: 2px solid red;
    height: 300px;
    flex-shrink: 2;
}
#box3{
    background-color: rgb(175, 20, 59);
    border: 2px solid rgb(142, 14, 202);
}
#box4{
    background-color: rgb(141, 103, 21);
    border: 2px solid red;
    height: 50px;
    
}
h2{
    padding-top: 60px;
    text-align: center;
    font-weight: bold;

}