*{
    padding: 0;
    margin: 0;
}
a{
    color: aliceblue;
  margin-right: 200px ;
    text-decoration: none;
}
#am{
    color: #f08804;
    padding: none;
    margin-left: 20px;
}
button{
    background-color:#f08804 ;
}

.contentbox{
    height: 260px;
    width: 260px;
    margin-top: 10px;
   border:2px solid #0f1111;
   display: inline-block;
   margin: 5%;
   color: black;
   font-size: 50px;
   text-decoration: dashed;
   text-align: center;
   
}
#content{
    height: 400px;
}
#header{
    size: 45px;
    background-color: #0f1111;
    border : 3px solid #f08804;
    height: 40px;
    margin-top: 20px;
    padding-top: 20px;
} 
footer{
    height: 50px;
    margin-top: 30px;
    background-color: #0f1111;
    text-align: center;
    color: aliceblue;
}
#footercn{
    margin-right: 0;
}