#box{
    background-color: black;
    color: aliceblue;
}
button{
    background-color: green;
    color: black;
    font-style: italic;
    align-items: center;
    text-decoration: black underline;
    align-content: center;
    box-shadow: inset;
    text-transform: uppercase;
    -moz-box-align: center;
    font-weight: bold;
}
h1,h3{
    text-align: center;
    font-style: normal;
    background-color: brown;
    animation: backwards ;
    font-weight: normal;
    text-transform: uppercase;
}
p{
    font-family: Arial;
    font-weight: 100;
    font-style: inherit;
    text-align: center;
}
a{
    text-decoration: none;
    text-align: center;
}
#one{
    line-height: 112px;
    font-size: 22px;
}
#tw{
    font-size: 10px;
}